In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv('country_vaccination_stats.csv')
df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [3]:
df.isnull().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [4]:
#impute minimum daily_vaccinations for each country
df['daily_vaccinations'] = df['daily_vaccinations'].fillna(df.groupby('country')['daily_vaccinations'].transform('min'))

In [5]:
#filling the rest of null values with 0
df['daily_vaccinations'] = df['daily_vaccinations'].fillna(0)

In [6]:
#showing the 3 countries with highest median daily_vaccinations
df.groupby('country')['daily_vaccinations'].median().sort_values(ascending=[False]).head(3)

country
United States    378253.0
China            276786.0
India            173922.0
Name: daily_vaccinations, dtype: float64

In [7]:
df['date']=pd.to_datetime(df['date'])

In [8]:
# total number of vaccinations on 06-01-2021
df[df.date == '2021-01-06'].daily_vaccinations.sum()

1485255.0